<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= book_title %> - Storia wordrops</title>
        <meta
            name="description"
            content="<%= back_cover || 'Leggi una nuova storia collaborativa su Wordrops, creata in tempo reale da più autori.' %>"
        />
        <link rel="canonical" href="<%= story_url %>" />

        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/images/favicon/favicon-16x16.png"
        />
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-N6J3B7DJ");
        </script>
        <!-- End Google Tag Manager -->

        <meta property="og:title" content="<%= book_title %>" />
        <meta property="og:description" content="<%= back_cover %>" />
        <meta
            property="og:image"
            content="https://wordrops.com/images/open-book-image-social.png"
        />
        <meta property="og:url" content="<%= story_url %>" />
        <meta property="og:type" content="website" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
            rel="stylesheet"
        />
        <link href="/style/output.css" rel="stylesheet" />
        <link href="/style/style.css" rel="stylesheet" />

        <script
            src="https://accounts.google.com/gsi/client"
            async
            defer
        ></script>
    </head>
    <body>
        <div
            id="page-wrapper"
            class="page-wrapper flex flex-col justify-center items-center"
        >
            <div
                id="vote-modal"
                onclick="closeModal(`vote-modal`)"
                class="fixed inset-0 bg-black/40 flex justify-center items-center z-50 hidden"
            >
                <div
                    onclick="event.stopPropagation()"
                    class="bg-white rounded-lg p-6 w-auto max-w-full flex flex-col gap-4 md:gap-6 z-60"
                >
                    <h3
                        id="book-vote-text"
                        class="text-lg text-center font-semibold"
                    >
                        Vota!
                    </h3>

                    <div
                        id="star-container"
                        class="flex justify-center gap-2 mb-4 cursor-pointer"
                    >
                        <!-- stelle dinamiche inserite da JS -->
                    </div>
                    <div class="flex justify-center gap-4">
                        <button
                            onclick="sendVote()"
                            id="send-vote"
                            class="px-4 py-2 cursor-pointer bg-blue-600 text-sm text-white rounded hover:bg-blue-700"
                            disabled
                        >
                            Conferma
                        </button>
                    </div>
                </div>
            </div>
            <div
                id="popup-register-user"
                onclick="closeModal(`popup-register-user`)"
                class="fixed inset-0 bg-black/40 flex justify-center items-center z-50 hidden"
            >
                <div
                    class="bg-white relative rounded-lg p-6 w-auto max-w-full flex flex-col items-center gap-8 z-60"
                >
                    <div class="md:flex-none">
                        <img
                            src="/images/wordrops_logo_animal.png"
                            alt="Wordrops Logo"
                            class="w-16"
                        />
                    </div>

                    <h3
                        id="book-vote-text"
                        class="text-lg text-center font-semibold"
                    >
                        Accedi ed entra nella community!
                    </h3>

                    <div class="flex flex-row w-full items-center gap-2">
                        <a
                            href="/register"
                            class="group flex-1 px-5 py-2.5 text-sm text-lg cursor-pointer text-center relative items-center justify-center overflow-hidden rounded-lg bg-gradient-to-r from-purple-500 to-pink-500 font-medium text-white duration-500"
                        >
                            <div
                                class="transition group-hover:-translate-x-[150%] group-hover:opacity-0"
                            >
                                registrati
                            </div>

                            <div
                                class="absolute top-1/2 -translate-y-1/2 translate-x-[150%] opacity-0 transition group-hover:translate-x-[50%] group-hover:opacity-100"
                            >
                                <svg
                                    width="15"
                                    height="15"
                                    viewBox="0 0 15 15"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                >
                                    <path
                                        d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
                                        fill="currentColor"
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                    ></path>
                                </svg>
                            </div>
                        </a>

                        <a
                            href="/register"
                            class="cursor-pointer text-center flex-1 font-semibold text-sm text-lg relative overflow-hidden rounded border-2 border-gray-200 rounded-lg px-5 py-2 text-gray-800 transition-all duration-300 hover:border-custom-blue"
                        >
                            login
                        </a>
                    </div>
                </div>
            </div>
            <div
                id="popup-coming-soon"
                onclick="closeModal(`popup-coming-soon`)"
                class="fixed inset-0 bg-black/40 flex justify-center items-center z-50 hidden"
            >
                <div
                    class="bg-white relative rounded-lg p-6 w-auto max-w-full flex flex-col items-center gap-8 z-60"
                >
                    <div class="md:flex-none">
                        <img
                            src="/images/wordrops_logo_animal.png"
                            alt="Wordrops Logo"
                            class="w-16"
                        />
                    </div>

                    <h3
                        id="book-vote-text"
                        class="text-lg text-center font-semibold"
                    >
                        Funzionalitá Presto disponibile!
                    </h3>
                </div>
            </div>
            <div
                id="menu"
                class="w-full z-40 sticky top-0 md:p-4 md:bg-custom-light"
            >
                <div
                    class="flex relative flex-col md:flex-row justify-between w-full h-full items-center"
                >
                    <div class="">
                        <a href="/">
                            <img
                                src="/images/logo_wordrops_classic.svg"
                                alt="Wordrops Logo"
                                class="mx-auto lg:w-32 hidden md:w-28 md:block"
                            />
                        </a>
                    </div>
                    <div
                        class="flex flex-row items-center justify-between w-full md:w-auto gap-6 md:gap-2 bg-custom-light p-4 md:p-0"
                    >
                        <a
                            href="/register"
                            class="group px-5 py-2.5 md:flex-none text-sm text-lg cursor-pointer relative items-center justify-center overflow-hidden rounded-lg bg-gradient-to-r from-purple-500 to-pink-500 font-medium text-white duration-500"
                        >
                            <div
                                class="transition group-hover:-translate-x-[150%] group-hover:opacity-0"
                            >
                                registrati
                            </div>

                            <div
                                class="absolute top-1/2 -translate-y-1/2 translate-x-[150%] opacity-0 transition group-hover:translate-x-[50%] group-hover:opacity-100"
                            >
                                <svg
                                    width="15"
                                    height="15"
                                    viewBox="0 0 15 15"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="h-6 w-6"
                                >
                                    <path
                                        d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
                                        fill="currentColor"
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                    ></path>
                                </svg>
                            </div>
                        </a>
                        <div class="md:flex-none">
                            <a href="/">
                                <img
                                    src="/images/wordrops_logo_animal.png"
                                    alt="Wordrops Logo"
                                    class="w-16 md:hidden"
                                />
                            </a>
                        </div>
                        <a
                            href="/register"
                            class="cursor-pointer font-semibold text-sm text-lg relative overflow-hidden rounded border-2 border-gray-200 rounded-lg px-5 py-2 text-gray-800 transition-all duration-300 hover:border-custom-blue"
                        >
                            login
                        </a>
                    </div>
                    <div
                        class="relative flex flex-row gap-4 md:gap-8 py-3 bg-white md:bg-transparent w-full md:w-auto justify-center border-b border-custom-light md:absolute md:top-1/2 md:left-1/2 md:-translate-x-1/2 md:-translate-y-1/2"
                    >
                        <div class="">
                            <a
                                href="/classifiche"
                                class="button-container flex flex-col justify-center items-center"
                            >
                                <img
                                    src="/images/icons/icons8-trofeo-48.png"
                                    alt="trophy Icon"
                                    class="icon-image size-6"
                                />
                                <div
                                    class="text-xs hidden md:block md:text-sm font-semibold text-gray-800"
                                >
                                    classifiche
                                </div>
                            </a>
                        </div>
                        <div class="">
                            <a
                                onclick="dashboardButton()"
                                class="button-container cursor-pointer flex flex-col justify-center items-center"
                            >
                                <img
                                    src="/images/icons/icons8-casa-100.png"
                                    alt="leaderboard Icon"
                                    class="icon-image size-6"
                                />
                                <div
                                    class="text-xs hidden md:block md:text-sm font-semibold text-gray-800"
                                >
                                    profilo
                                </div>
                            </a>
                        </div>
                        <div class="">
                            <a
                                href="/storie-community"
                                class="button-container flex flex-col justify-center items-center"
                            >
                                <img
                                    src="/images/icons/library-icon.png"
                                    alt="library Icon"
                                    class="icon-image size-6"
                                />
                                <div
                                    class="text-xs hidden md:block md:text-sm font-semibold text-gray-800"
                                >
                                    community
                                </div>
                            </a>
                        </div>
                        <div
                            class="flex justify-center absolute top-1/2 right-0 md:-right-26"
                        >
                            <button
                                onclick="openWaitingQueueModal()"
                                id="mini-queue-display"
                                class="cursor-pointer relative hidden flex justify-center items-center font-semibold text-sm text-gray-800 transform -translate-y-1/2"
                            >
                                <div
                                    class="cursor-pointer font-semibold text-sm text-green-600"
                                >
                                    in coda
                                </div>
                                <div class="" id="waiting-gif">
                                    <img
                                        src="/images/gifs/queue-spinner.gif"
                                        alt="Waiting Gif"
                                        class="size-5"
                                    />
                                </div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div
                id="content-wrapper"
                class="content-wrapper w-full md:px-8 max-w-[1600px] flex flex-col px-10"
            >
                <div
                    class="container-title-top relative px-4 gap-4 border-b border-custom-light flex flex-col md:flex-row justify-between items-center w-full py-12 md:pb-12 md:pt-8"
                >
                    <div
                        class="genre-container flex flex-col justify-center items-center md:items-start md:flex-1 w-full h-full md:gap-4 gap-2"
                    >
                        <div class="flex gap-4">
                            <span
                                id="game-type"
                                class="px-2 py-1 text-[10px] md:text-[14px] flex justify-center items-center bg-amber-400 text-gray-800 rounded-lg font-mono"
                                ><%= game_type %></span
                            >
                            <span
                                id="game-speed"
                                class="px-2 py-1 text-[10px] md:text-[14px] flex justify-center items-center bg-green-600 text-gray-800 rounded-lg font-mono"
                                ><%= game_speed %></span
                            >
                        </div>
                        <div
                            id="book-genre"
                            class="flex flex-row flex-wrap gap-2"
                        >
                            <% genres.forEach(genre => { %>
                            <p
                                class="border-1 border-gray-200 rounded-lg text-gray-00 px-2 py-1 text-[10px] md:text-[14px]"
                            >
                                <%= genre %>
                            </p>
                            <% }); %>
                        </div>
                    </div>
                    <div
                        class="title-container md:w-3/5 w-full h-full px-6 gap-2 flex flex-col order-first md:order-none items-center"
                    >
                        <p class="text-xs">
                            <%= new
                            Date(finished_at).toLocaleDateString('it-IT') %>
                        </p>
                        <h1
                            id="book-title"
                            class="book-title text-balance font-semibold italic text-2xl md:text-4xl text-center"
                        >
                            <%= book_title %>
                        </h1>
                    </div>

                    <div
                        class="absolute md:static top-0 right-0 translate-x-1/3 translate-y-1/3 md:translate-x-0 md:translate-y-0 w-auto md:flex-1 md:flex md:w-full md:justify-end md:static"
                    >
                        <div
                            id="total-rating"
                            class="p-2 md:p-3 ml-2 inline-block text-sm md:text-xl relative font-bold text-custom-blue bg-custom-light rounded-lg"
                        >
                            <img
                                src="/images/icons/star.png"
                                alt="star icon"
                                class="absolute top-0 left-0 transform -translate-y-1/2 -translate-x-1/2 h-3 md:h-5"
                            />
                            <span id="average-rating"
                                ><%= average ? average.toFixed(1) : "?" %></span
                            ><span>/5</span>
                        </div>
                    </div>
                </div>
                <div
                    class="big-container-chap-social-content flex flex-row items-start w-full justify-center md:pt-16 py-8 px-2"
                >
                    <!-- container-left-menu-mobile-bottom -->
                    <div
                        id="mobile-menu-left-desktop"
                        class="fixed bottom-0 left-0 w-full z-40 md:static md:sticky md:top-30"
                    >
                        <div
                            class="relative bg-custom-light md:bg-transparent md:w-full py-2 md:py-0 md:gap-6 flex md:grid md:grid-rows-[auto_1fr] md:grid-cols-[1fr_auto] justify-between items-center"
                        >
                            <div class="inline-block flex-1 md:order-1 md:px-4">
                                <button
                                    id="btnAutori"
                                    class="flex flex-row items-center md:hidden justify-center w-full text-md font-semibold text-gray-800"
                                    onclick="authorsDropup()"
                                >
                                    autori
                                </button>

                                <!-- dropdown authors -->
                                <div
                                    id="dropupAutori"
                                    class="absolute md:static hidden md:block bottom-full left-0 w-full bg-custom-light md:bg-transparent border-b border-white rounded z-50"
                                >
                                    <div
                                        class="grid grid-cols-3 md:grid-cols-2 md:gap-x-12 gap-y-8 p-8 md:p-0"
                                    >
                                        <% authors.forEach(author => { %>

                                        <div
                                            class="flex flex-col justify-center items-center"
                                        >
                                            <!-- Avatar -->
                                            <div class="relative">
                                                <div
                                                    class="size-7 button-container absolute p-1 flex justify-center items-center rounded-full border-1 border-gray-400 bg-white -top-3 -right-3 cursor-pointer"
                                                >
                                                    <img
                                                        src="/images/icons/follow_user_icon.png"
                                                        alt="follow icon"
                                                        class=""
                                                    />
                                                </div>

                                                <div
                                                    class="md:size-16 size-12 rounded-lg overflow-hidden"
                                                >
                                                    <img
                                                        id="profile-avatar"
                                                        src="/images/avatars/<%= author.avatar %>.png"
                                                        alt="Avatar"
                                                        class="w-full h-full object-contain"
                                                    />
                                                </div>
                                                <!-- Username + Stats -->
                                            </div>
                                            <a
                                                href="/profile-page/<%= author.username %>"
                                                target="_blank"
                                                class="flex flex-col text-left justify-between"
                                            >
                                                <span
                                                    id="profile-username"
                                                    class="button-container cursor-pointer text-sm font-semibold text-gray-800 text-center"
                                                    ><%= author.username
                                                    %></span
                                                >
                                            </a>
                                        </div>
                                        <% }); %>
                                    </div>
                                </div>
                            </div>

                            <!-- colored menu  -->

                            <div
                                class="flex flex-row md:flex-col md:px-4 justify-center md:justify-start items-center md:items-start gap-6 md:h-full"
                            >
                                <div
                                    class="flex flex-row md:flex md:flex-col gap-6"
                                >
                                    <!-- Commenta -->
                                    <button <% if (!isLoggedIn) { %>
                                        onclick="openRegisterModal()" <% } else
                                        { %> onclick="openComingSoonModal()" <%
                                        } %> class="flex flex-col items-center
                                        text-xs md:gap-1 text-gray-700" >
                                        <img
                                            src="<%= isLoggedIn ? '/images/icons/logged_chat_icon.png' : '/images/icons/chat_icon.png' %>"
                                            class="size-7 cursor-pointer transition-transform duration-300 hover:scale-110"
                                        />
                                        <span class="hidden md:block"
                                            >Commenta</span
                                        >
                                    </button>

                                    <!-- Preferiti -->
                                    <button <% if (!isLoggedIn) { %>
                                        onclick="openRegisterModal()" <% } else
                                        { %> onclick="openComingSoonModal()" <%
                                        } %> class="button-container flex
                                        flex-col items-center text-xs md:gap-1
                                        text-gray-700" >
                                        <img
                                            src="<%= isLoggedIn ? '/images/icons/logged_add_to_favourite_icon.png' : '/images/icons/add_to_favourite_icon.png' %>"
                                            class="size-7 cursor-pointer"
                                        />
                                        <span class="hidden md:block"
                                            >Preferiti</span
                                        >
                                    </button>

                                    <!-- Vota -->
                                    <button <% if (!isLoggedIn) { %>
                                        onclick="openRegisterModal()" <% } else
                                        { %> onclick="openVoteModal()" <% } %>
                                        class="flex flex-col items-center
                                        text-xs md:gap-1 text-gray-700
                                        cursor-pointer button-container" >
                                        <div class="relative">
                                            <img
                                                src="<%= isLoggedIn ? '/images/icons/star.png' : '/images/icons/empty_star.svg' %>"
                                                class="size-7 cursor-pointe relativer transition-transform duration-300 hover:scale-110"
                                            />

                                            <span
                                                id="user-vote"
                                                class="absolute inset-0 flex items-center justify-center text-[12px] font-bold text-gray-800"
                                            >
                                                <%= userVote !== null &&
                                                userVote !== undefined ?
                                                userVote : "" %>
                                            </span>
                                        </div>
                                        <div class="hidden md:block">
                                            <% if (userVote) { %>
                                            <p>tuo voto</p>
                                            <% } else { %>
                                            <p>Vota</p>
                                            <% } %>
                                        </div>
                                    </button>
                                </div>
                            </div>

                            <!-- chapters (Dropup) -->
                            <div
                                class="inline-block md:relative flex-1 md:col-span-2 md:col-start-1 md:col-end-3 md:row-start-1 md:w-full items-start"
                            >
                                <button
                                    id="btnCapitoli"
                                    class="cursor-pointer flex flex-row bg-custom-light items-center justify-center md:justify-start w-full text-md font-semibold text-gray-800 md:p-4"
                                    onclick="chaptersDropup()"
                                >
                                    <div>capitoli</div>
                                    <span
                                        class="w-full hidden md:block flex justify-end md:ml-4"
                                        ><img
                                            src="/images/icons/down_down.png"
                                            class="size-5"
                                            alt=""
                                    /></span>
                                </button>
                                <div
                                    id="dropupCapitoli"
                                    class="absolute hidden bottom-full md:top-full left-0 w-full border-b border-white z-50"
                                >
                                    <!-- Contenuto capitoli -->
                                    <ul
                                        class="text-sm text-center bg-custom-light"
                                    >
                                        <% chapters.forEach((chapter, index) =>
                                        { %>
                                        <li class="border-t border-white">
                                            <button
                                                data-index="<%= index %>"
                                                class="button-container chapter-btn block cursor-pointer w-full text-md text-center font-semibold py-3"
                                            >
                                                <%= chapter.title %>
                                            </button>
                                        </li>
                                        <% }) %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--central main container -->
                    <div id="central-main-container" class="max-w-[800px]">
                        <div
                            class="chapter md:px-24 pb-24 flex flex-col items-start gap-6"
                        >
                            <div class="chapter-author">
                                <div
                                    class="flex flex-col items-start justify-start gap-"
                                >
                                    <!-- Avatar -->
                                    <div class="relative">
                                        <div
                                            class="size-10 rounded-lg overflow-hidden"
                                        >
                                            <img
                                                id="chapter-avatar"
                                                src="/images/avatars/<%= chapters[0].avatar %>.png"
                                                alt="Avatar"
                                                class="w-full h-full object-contain"
                                            />
                                        </div>
                                    </div>

                                    <!-- Username + Stats -->
                                    <div
                                        class="flex flex-col text-left h-full justify-between"
                                    >
                                        <span
                                            id="chapter-username"
                                            class="text-sm font-semibold text-gray-800"
                                            ><%= chapters[0].username %></span
                                        >
                                    </div>
                                </div>
                            </div>
                            <h4
                                id="chapter-title"
                                class="font-semibold text-lg italic"
                            >
                                <%= chapters[0].title %>
                            </h4>
                            <p
                                id="chapter-content"
                                class="leading-[2.50] text-md"
                            >
                                <%= chapters[0].content %>
                            </p>
                        </div>
                    </div>

                    <!-- container social menu -->
                    <div
                        class="fixed w- md:w-auto bg-custom-light md:static md:sticky md:top-30 md:bg-transparent md:w-full rounded-lg top-1/4 left-0 transform w-translate-y-1/2 flex flex-col md:items-start z-40 px-2 py-6 gap-8"
                    >
                        <div
                            class="flex flex-col justify-center items-center gap-6"
                        >
                            <div class="hidden md:block">condividi</div>
                            <a
                                href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeURIComponent(story_url) %>"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="social-button"
                            >
                                <img
                                    src="/images/icons/facebook.png"
                                    alt="Facebook"
                                    class="size-5 md:size-8 object-cover transition-transform duration-300 hover:scale-110"
                                />
                            </a>
                            <a
                                href="https://twitter.com/intent/tweet?url=<%= encodeURIComponent(story_url) %>&text=<%= encodeURIComponent(book_title) %>"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="social-button"
                            >
                                <img
                                    src="/images/icons/twitter.png"
                                    alt="Twitter"
                                    class="size-5 md:size-8 object-cover transition-transform duration-300 hover:scale-110"
                                />
                            </a>
                            <a
                                href="https://api.whatsapp.com/send?text=<%= encodeURIComponent(story_url) %>"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="social-button"
                            >
                                <img
                                    src="/images/icons/whatsapp.png"
                                    alt="WhatsApp"
                                    class="size-5 md:size-8 object-cover transition-transform duration-300 hover:scale-110"
                                />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <section class="md:py-12 py-6 px-4 relative w-full bg-custom-light">
                <footer class="text-gray-800 py-6">
                    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                        <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
                            <!-- Link ai Termini e Privacy -->
                            <div
                                class="flex flex-col justify-center md:items-center items-start"
                            >
                                <div
                                    class="flex-col justify-center items-start"
                                >
                                    <h3 class="font-semibold text-lg mb-4">
                                        Informazioni Legali
                                    </h3>
                                    <ul class="text-sm">
                                        <li class="mb-2">
                                            <a
                                                href="/termini-e-condizioni"
                                                class="hover:text-blue-500 font-semibold py-4"
                                                target="_blank"
                                                >Termini e Condizioni</a
                                            >
                                        </li>
                                        <li class="mb-2">
                                            <a
                                                href="/privacy-policy"
                                                class="hover:text-blue-500 font-semibold py-4"
                                                target="_blank"
                                                >Privacy Policy</a
                                            >
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <!-- Supporto -->
                            <div
                                class="flex flex-col justify-center items-center"
                            >
                                <div
                                    class="flex-col justify-center items-start"
                                >
                                    <h3 class="font-semibold text-lg mb-2">
                                        Supporto
                                    </h3>
                                    <p class="text-sm">
                                        Per qualsiasi domanda o problema,
                                        contattaci via email:
                                    </p>
                                    <a
                                        href="mailto:support@wordrops.com"
                                        class="text-blue-500 hover:text-blue-700"
                                        >support@wordrops.com</a
                                    >
                                </div>
                            </div>

                            <!-- Copyright -->
                            <div
                                class="col-span-1 sm:col-span-2 lg:col-span-4 text-center mt-4 sm:mt-0"
                            >
                                <p class="text-sm">
                                    © 2025 wordrops. Tutti i diritti riservati.
                                </p>
                            </div>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
        <div class="page-wrap p-6 fixed min-h-screen z-50">
            <!-- queue overlay -->
            <div
                id="waiting-overlay"
                class="fixed inset-0 bg-black/80 flex flex-col items-center justify-center hidden"
            >
                <button
                    onclick="closeWaitingQueueModal()"
                    id="close-avatar-menu"
                    class="cursor-pointer border-1 border-gray-800 w-6 h-6 rounded-full bg-white text-black text-lg flex items-center justify-center"
                >
                    X
                </button>
                <div class="flex flex-col items-center">
                    <div id="waiting-text" class="text-white text-2xl mb-4">
                        In attesa di altri giocatori...
                    </div>
                    <div id="waiting-gif" class="mb-4">
                        <img
                            src="/images/gifs/queue-spinner.gif"
                            alt="Waiting Gif"
                            class="w-32 h-32"
                        />
                    </div>
                    <button
                        id="abandon-queue-button"
                        onclick="abandonQueue()"
                        class="px-6 py-3 bg-red-500 text-white font-semibold text-lg rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300 cursor-pointer"
                    >
                        ABBANDONA
                    </button>
                </div>
            </div>

            <!-- preQueue overlay -->
            <div
                id="countdown-overlay"
                class="fixed inset-0 bg-black/80 flex items-center justify-center z-10 hidden"
            >
                <div
                    id="game-ready-container"
                    class="flex flex-col items-center hidden"
                >
                    <h2 class="text-white text-4xl font-bold">Si Inizia!</h2>
                </div>
                <div
                    id="countdown-seconds-container"
                    class="flex flex-col items-center"
                >
                    <div id="countdown" class="text-white text-2xl mb-2">
                        Partita trovata, Inizio in:
                    </div>
                    <h2
                        id="countdown-seconds"
                        class="text-red-500 text-9xl font-bold"
                    ></h2>
                </div>
            </div>
        </div>
        <script>
            // chapters for dropdown //
            const chapters = <%- JSON.stringify(chapters) %>;
        </script>
        <script>
            const slugUrl = "<%= story_url %>";
            if (window.location.href !== slugUrl) {
                window.history.replaceState(null, null, slugUrl);
            }
        </script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/queueControl.js" defer></script>
        <script src="/js/storyPage.js" defer></script>
    </body>
</html>
