<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script>
            if (location.hostname === "wordrops.com") {
                var script = document.createElement("script");
                script.src =
                    "https://cmp.osano.com/QlJmn7IrlA/70225bcf-c11e-4f67-acf4-0cf029ad9f3b/osano.js";
                document.head.appendChild(script);
            }
        </script>
        <title>
            Wordrops Community - The platform to write, collaborate, and compete
            in real time
        </title>
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    "gtm.start": new Date().getTime(),
                    event: "gtm.js",
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-N6J3B7DJ");
        </script>
        <!-- End Google Tag Manager -->
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/images/favicon/favicon-16x16.png"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap"
            rel="stylesheet"
        />
        <link href="/style/output.css" rel="stylesheet" />

        <link href="/style/style.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-N6J3B7DJ"
                height="0"
                width="0"
                style="display: none; visibility: hidden"
            ></iframe
        ></noscript>
        <div
            id="menu"
            class="w-full z-50 sticky top-0 md:p-4 md:bg-custom-light"
        >
            <div
                class="flex relative flex-col md:flex-row justify-between w-full h-full items-center"
            >
                <div class="">
                    <a href="/">
                        <img
                            src="/images/logo_wordrops_classic.svg"
                            alt="Wordrops Logo"
                            class="mx-auto lg:w-32 hidden md:w-28 md:block"
                        />
                    </a>
                </div>
                <div
                    class="flex flex-row items-center justify-between w-full md:w-auto gap-6 md:gap-2 bg-custom-light p-4 md:p-0"
                >
                    <a
                        href="/register"
                        class="group px-5 py-2.5 md:flex-none text-sm text-lg cursor-pointer relative items-center justify-center overflow-hidden rounded-lg bg-gradient-to-r from-purple-500 to-pink-500 font-medium text-white duration-500"
                    >
                        <div
                            class="transition group-hover:-translate-x-[150%] group-hover:opacity-0"
                        >
                            register
                        </div>

                        <div
                            class="absolute top-1/2 -translate-y-1/2 translate-x-[150%] opacity-0 transition group-hover:translate-x-[50%] group-hover:opacity-100"
                        >
                            <svg
                                width="15"
                                height="15"
                                viewBox="0 0 15 15"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6"
                            >
                                <path
                                    d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
                                    fill="currentColor"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </div>
                    </a>
                    <div class="md:flex-none">
                        <a href="/">
                            <img
                                src="/images/wordrops_logo_animal.png"
                                alt="Wordrops Logo"
                                class="w-16 md:hidden"
                            />
                        </a>
                    </div>
                    <a
                        href="/register"
                        class="cursor-pointer font-semibold text-sm text-lg relative overflow-hidden rounded border-2 border-gray-200 rounded-lg px-5 py-2 text-gray-800 transition-all duration-300 hover:border-custom-blue"
                    >
                        login
                    </a>
                </div>

                <div
                    class="relative flex flex-row gap-4 md:gap-8 py-3 bg-white md:bg-transparent w-full md:w-auto justify-center border-b border-custom-light md:absolute md:top-1/2 md:left-1/2 md:-translate-x-1/2 md:-translate-y-1/2"
                >
                    <div class="">
                        <a
                            href="/leaderboards"
                            class="button-container flex flex-col justify-center items-center"
                        >
                            <img
                                src="/images/icons/icons8-trofeo-48.png"
                                alt="trophy Icon"
                                class="icon-image size-6"
                            />
                            <div
                                class="text-xs hidden md:block md:text-sm font-semibold text-gray-800"
                            >
                                leaderboards
                            </div>
                        </a>
                    </div>
                    <div class="">
                        <a
                            onclick="dashboardButton()"
                            class="button-container cursor-pointer flex flex-col justify-center items-center"
                        >
                            <img
                                src="/images/icons/icons8-casa-100.png"
                                alt="leaderboard Icon"
                                class="icon-image size-6"
                            />
                            <div
                                class="text-xs hidden md:block md:text-sm font-semibold text-gray-800"
                            >
                                profile
                            </div>
                        </a>
                    </div>
                    <div class="">
                        <a
                            href="/stories-library"
                            class="button-container flex flex-col justify-center items-center"
                        >
                            <img
                                src="/images/icons/library-icon.png"
                                alt="library Icon"
                                class="icon-image size-6"
                            />
                            <div
                                class="text-xs hidden md:block md:text-sm font-semibold text-gray-800"
                            >
                                community
                            </div>
                        </a>
                    </div>
                    <div
                        class="flex justify-center absolute top-1/2 right-0 md:-right-26"
                    >
                        <button
                            onclick="openWaitingQueueModal()"
                            id="mini-queue-display"
                            class="cursor-pointer relative hidden flex justify-center items-center font-semibold text-sm text-gray-800 transform -translate-y-1/2"
                        >
                            <div
                                class="cursor-pointer font-semibold text-sm text-green-600"
                            >
                                in queue
                            </div>
                            <div class="" id="waiting-gif">
                                <img
                                    src="/images/gifs/queue-spinner.gif"
                                    alt="Waiting Gif"
                                    class="size-5"
                                />
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <header style="background-color: #faf4f4">
            <div class="max-w-screen-xl mx-auto px-6 text-center py-12">
                <h1
                    class="text-gray-800 text-2xl font-extrabold sm:text-4xl lg:text-6xl"
                >
                    Community Stories
                </h1>
                <p class="mt-4 font-semibold text-sm sm:text-xl">
                    Explore, vote, and publish your own stories. Join our
                    creative community!
                </p>
            </div>
        </header>
        <div class="filters-section"></div>
        <div
            class="flex flex-col gap-6 z-10 py-12 md:py-24 w-full justify-start items-center"
        >
            <div class="w-full max-w-6xl rounded-lg px-6 py-10">
                <div class="w-full py-4 flex flex-col gap-24">
                    <div
                        id="games-content"
                        class="grid grid-cols-2 w-full gap-6 md:gap-12"
                    >
                        <% if (stories && stories.length > 0) { %> <%
                        stories.forEach(story => { %>
                        <div
                            class="flex flex-col md:flex-row p-4 gap-4 bg-gray-50 rounded-lg shadow-xs"
                        >
                            <div
                                class="relative flex justify-start items-start"
                            >
                                <a
                                    href="/story/<%= story.game_lang %>/<%= story.id %>-<%= story.slug %>"
                                    target="blank"
                                    class="card-container flex justify-start items-start"
                                >
                                    <% if (story.game_type === 'ranked') { %>
                                    <img
                                        src="/images/icons/star.png"
                                        class="absolute z-10 w-4 h-4 top-2 left-2"
                                        alt="stella"
                                    />
                                    <% } %>
                                    <img
                                        src="<%= story.cover_image_url || '/images/book_cover_placeholder.jpeg' %>"
                                        alt="Copertina di <%= story.title %>"
                                        class="w-24 md:w-48 lg:h-64 object-cover rounded-sm"
                                    />
                                </a>
                            </div>
                            <div
                                class="flex-1 md:p-4 flex flex-col relative justify-start gap-2 items-start"
                            >
                                <div
                                    class="md:absolute md:-top-4 md:-right-4 static size-6 flex items-center justify-center rounded select-none z-10"
                                    title="<%= story.game_lang.toUpperCase() %>"
                                >
                                    <img
                                        src="/images/icons/<%= story.game_lang === 'en' ? 'uk' : story.game_lang === 'es' ? 'spain' : 'italy' %>-flag.png"
                                        alt="<%= story.game_lang %> flag"
                                        class="w-full h-full object-cover"
                                    />
                                </div>
                                <h3
                                    class="text:sm md:text-lg md:text-md font-semibold text-gray-800"
                                >
                                    <%= story.title %>
                                </h3>
                                <p class="text-sm hidden md:block">
                                    <%= story.back_cover %>
                                </p>
                            </div>
                        </div>
                        <% }); %> <% } else { %>
                        <div
                            class="col-span-2 w-full bg-red-10 flex justify-center"
                        >
                            <p
                                class="text-lg font-semibold text-center text-gray-600"
                            >
                                No stories published at the moment.
                            </p>
                        </div>
                        <% } %>
                    </div>
                    <div class="w-full flex justify-center">
                        <button
                            class="cursor-pointer p-4 bg-custom-blue button-container text-sm text-white font-semibold rounded-lg"
                            onclick="loadMoreBooks()"
                        >
                            load more
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <section class="md:py-12 py-6 px-4 relative w-full bg-custom-light">
            <footer class="text-gray-800 py-6">
                <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8">
                        <!-- Link ai Termini e Privacy -->
                        <div
                            class="flex flex-col justify-center md:items-center items-start"
                        >
                            <div class="flex-col justify-center items-start">
                                <h3 class="font-semibold text-lg mb-4">
                                    Legal Info
                                </h3>
                                <ul class="text-sm">
                                    <li class="mb-2">
                                        <a
                                            href="/terms-and-conditions"
                                            class="hover:text-blue-500 font-semibold py-4"
                                            target="_blank"
                                            >Terms And Conditions</a
                                        >
                                    </li>
                                    <li class="mb-2">
                                        <a
                                            href="/privacy-policy"
                                            class="hover:text-blue-500 font-semibold py-4"
                                            target="_blank"
                                            >Privacy Policy</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Supporto -->
                        <div class="flex flex-col justify-center items-center">
                            <div class="flex-col justify-center items-start">
                                <h3 class="font-semibold text-lg mb-2">
                                    Support
                                </h3>
                                <p class="text-sm">
                                    For any question or issue, don't esitate to
                                    contact us via email:
                                </p>
                                <a
                                    href="mailto:support@wordrops.com"
                                    class="text-blue-500 hover:text-blue-700"
                                    >support@wordrops.com</a
                                >
                            </div>
                        </div>

                        <!-- Copyright -->
                        <div
                            class="col-span-1 sm:col-span-2 lg:col-span-4 text-center mt-4 sm:mt-0"
                        >
                            <p class="text-sm">
                                © 2025 wordrops. All Rights Reserved.
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </section>
        <div
            id="popup-register-user"
            onclick="closeModal(`popup-register-user`)"
            class="fixed inset-0 bg-black/40 flex justify-center items-center z-50 hidden"
        >
            <div
                class="bg-white relative rounded-lg p-6 w-auto max-w-full flex flex-col items-center gap-8 z-60"
            >
                <div class="md:flex-none">
                    <img
                        src="/images/wordrops_logo_animal.png"
                        alt="Wordrops Logo"
                        class="w-16"
                    />
                </div>

                <h3
                    id="book-vote-text"
                    class="text-lg text-center font-semibold"
                >
                    Log in and join the community!
                </h3>

                <div class="flex flex-row w-full items-center gap-2">
                    <a
                        href="/register"
                        class="group flex-1 px-5 py-2.5 text-sm text-lg cursor-pointer text-center relative items-center justify-center overflow-hidden rounded-lg bg-gradient-to-r from-purple-500 to-pink-500 font-medium text-white duration-500"
                    >
                        <div
                            class="transition group-hover:-translate-x-[150%] group-hover:opacity-0"
                        >
                            register
                        </div>

                        <div
                            class="absolute top-1/2 -translate-y-1/2 translate-x-[150%] opacity-0 transition group-hover:translate-x-[50%] group-hover:opacity-100"
                        >
                            <svg
                                width="15"
                                height="15"
                                viewBox="0 0 15 15"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6"
                            >
                                <path
                                    d="M8.14645 3.14645C8.34171 2.95118 8.65829 2.95118 8.85355 3.14645L12.8536 7.14645C13.0488 7.34171 13.0488 7.65829 12.8536 7.85355L8.85355 11.8536C8.65829 12.0488 8.34171 12.0488 8.14645 11.8536C7.95118 11.6583 7.95118 11.3417 8.14645 11.1464L11.2929 8H2.5C2.22386 8 2 7.77614 2 7.5C2 7.22386 2.22386 7 2.5 7H11.2929L8.14645 3.85355C7.95118 3.65829 7.95118 3.34171 8.14645 3.14645Z"
                                    fill="currentColor"
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                ></path>
                            </svg>
                        </div>
                    </a>

                    <a
                        href="/register"
                        class="cursor-pointer text-center flex-1 font-semibold text-sm text-lg relative overflow-hidden rounded border-2 border-gray-200 rounded-lg px-5 py-2 text-gray-800 transition-all duration-300 hover:border-custom-blue"
                    >
                        login
                    </a>
                </div>
            </div>
        </div>
        <!-- queue overlay -->
        <div
            id="waiting-overlay"
            class="fixed inset-0 p-12 bg-custom-light flex flex-col items-center justify-center hidden z-50"
        >
            <div
                class="absolute inset-0 bg-[url('/images/flying_books.jpg')] bg-cover bg-center opacity-20 -z-10"
            ></div>
            <div
                class="bg-white rounded-2xl p-8 md:pb-12 md:py-6 px-12 w-auto inline-block relative flex flex-col gap-12"
            >
                <div
                    class="minimize-waiting-overlay w-full flex justify-center mb-12"
                >
                    <button
                        onclick="closeWaitingQueueModal()"
                        class="flex items-center gap-1 cursor-pointer z-50 text-custom-blue font-bold text-sm md:text-md"
                    >
                        <span>hide window</span>
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="w-4 h-4"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            stroke-width="2"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M19 9l-7 7-7-7"
                            />
                        </svg>
                    </button>
                </div>

                <div class="flex flex-col items-center justify-center gap-4">
                    <div
                        id="waiting-text"
                        class="text-gray-800 font-semibold text-center text-lg md:text-xl lg:text-2xl"
                    >
                        waiting for other players..
                    </div>
                    <div id="waiting-gif" class="py-6">
                        <img
                            src="/images/wordrops_logo_animal.png"
                            alt="Wordrops Spinner"
                            class="custom-spinner"
                        />
                    </div>
                    <button
                        id="abandon-queue-button"
                        onclick="abandonQueue()"
                        class="px-6 py-3 bg-red-500 text-white font-semibold text-md md:text-lg rounded-lg hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-red-300 cursor-pointer"
                    >
                        ABANDON
                    </button>
                </div>
            </div>
        </div>
        <!-- preQueue overlay -->
        <div
            id="countdown-overlay"
            class="fixed inset-0 p-12 bg-custom-light flex flex-col items-center justify-center hidden z-50"
        >
            <div
                class="absolute inset-0 bg-[url('/images/flying_books.jpg')] bg-cover bg-center opacity-20 -z-10"
            ></div>
            <div
                id="game-ready-container"
                class="flex flex-col items-center hidden"
            >
                <h2 class="text-gray-800 text-4xl font-bold">
                    Grab your pencil!
                </h2>
            </div>
            <div
                id="countdown-seconds-container"
                class="flex flex-col items-center"
            >
                <div
                    id="countdown"
                    class="text-gray-800 font-bold text-2xl mb-2"
                >
                    Match found, starting in:
                </div>
                <h2
                    id="countdown-seconds"
                    class="text-red-500 text-9xl font-bold"
                ></h2>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/queueControl.js" defer></script>
        <script src="/js/menu.js" defer></script>
        <script src="/js/community.js" defer></script>
    </body>
</html>
