<!DOCTYPE html>
<html lang="<%= lang %>">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= texts.title %></title>
        <script>
            if (location.hostname === "wordrops.com") {
                var script = document.createElement("script");
                script.src =
                    "https://cmp.osano.com/QlJmn7IrlA/70225bcf-c11e-4f67-acf4-0cf029ad9f3b/osano.js";
                document.head.appendChild(script);
            }
        </script>

        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/images/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/images/favicon/favicon-16x16.png"
        />
        <link href="/style/output.css" rel="stylesheet" />
        <link href="/style/style.css" rel="stylesheet" />
    </head>
    <body class="bg-gray-50 text-gray-800">
        <div class="mx-auto">
            <!-- Header -->
            <header
                class="text-center py-12 px-4 sm:px-6 lg:px-8"
                style="background-color: #faf4f4"
            >
                <h1 class="text-3xl font-bold text-gray-800">
                    <%= texts.headerTitle %>
                </h1>
                <p class="text-lg font-semibold text-gray-600 mt-2">
                    <%= texts.headerSubtitle %>
                </p>
            </header>

            <div
                class="flex flex-col justify-center items-center px-4 sm:px-6 lg:px-8"
            >
                <!-- Content -->
                <div class="py-8 max-w-4xl">
                    <!-- Introduzione -->
                    <section class="py-8">
                        <h2 class="text-2xl font-semibold text-gray-800">
                            <%= texts.section1Title %>
                        </h2>
                        <p class="text-base text-gray-700 mt-2">
                            <%= texts.section1Text %>
                        </p>
                    </section>

                    <section class="py-8">
                        <h2 class="text-2xl font-semibold text-gray-800">
                            <%= texts.section2Title %>
                        </h2>
                        <p class="text-base text-gray-700 mt-2">
                            <%- texts.section2Text %>
                        </p>
                    </section>

                    <section class="py-8">
                        <h2 class="text-2xl font-semibold text-gray-800">
                            <%= texts.section3Title %>
                        </h2>
                        <p class="text-base text-gray-700 mt-2">
                            <%- texts.section3Text %>
                        </p>
                    </section>

                    <section class="py-8">
                        <h2 class="text-2xl font-semibold text-gray-800">
                            <%= texts.section4Title %>
                        </h2>
                        <p class="text-base text-gray-700 mt-2">
                            <%- texts.section4Text %>
                        </p>
                    </section>

                    <section class="py-8">
                        <h2 class="text-2xl font-semibold text-gray-800 mb-2">
                            <%= texts.section5Title %>
                        </h2>
                        <p class="text-base text-gray-700 mt-2">
                            <%- texts.section5Text %>
                        </p>
                    </section>

                    <section class="py-8">
                        <h2 class="text-2xl font-semibold text-gray-800">
                            <%= texts.section6Title %>
                        </h2>
                        <p class="text-base text-gray-700 mt-2">
                            <%- texts.section6Text %>
                        </p>
                    </section>

                    <section class="py-8">
                        <h2 class="text-2xl font-semibold text-gray-800">
                            <%= texts.section7Title %>
                        </h2>
                        <p class="text-base text-gray-700 mt-2">
                            <%- texts.section7Text %>
                        </p>
                    </section>

                    <section class="py-8">
                        <h2 class="text-2xl font-semibold text-gray-800">
                            <%= texts.section8Title %>
                        </h2>
                        <p class="text-base text-gray-700 mt-2">
                            <%= texts.section8Text %>
                        </p>
                    </section>

                    <section class="py-8">
                        <h2 class="text-2xl font-semibold text-gray-800">
                            <%= texts.section9Title %>
                        </h2>
                        <p class="text-base text-gray-700 mt-2">
                            <%= texts.section9Text %>
                        </p>
                    </section>

                    <section class="py-8">
                        <h2 class="text-2xl font-semibold text-gray-800">
                            <%= texts.section10Title %>
                        </h2>
                        <p class="text-base text-gray-700 mt-2">
                            <%- texts.section10Text %>
                        </p>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>
